.form{
	background-color: cyan;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-style : solid;
	border-color: black;
}

.panel{
	background-color: white;
	display: inline-block;
	border-style: solid;
	color: red;
	float: right;
	font-family: courier;
}

table{
	border: 1px solid black;
}

td, tr{
	text-align: center;
	padding: 15px;
}

td:hover{
	background-color: red;
}

.all-clear{
	background-color: crimson;
}